
$strips: 5;

.logo-about {
    fill: $yellow;
}

h1 {
    font-size: 3em;
    letter-spacing: 1px;
}

.strips {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.strip {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    #first-dot {
        margin: 0%;
        padding: 0%;
    }
    .pulse {
        margin: 0%;
        padding: 0%;
        display: block;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        color: transparent;
        background: $yellow;
        cursor: pointer;
        box-shadow: 0 0 0 rgba(204,169,44, 0.4);
        animation: pulse 2s infinite;
      }
      .pulse:hover {
        animation: none;
      }
      
      @-webkit-keyframes pulse {
        0% {
          -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
        }
        70% {
            -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        }
        100% {
            -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        }
      }
      @keyframes pulse {
        0% {
          -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
          box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
        }
        70% {
            -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
            box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        }
        100% {
            -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
            box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        }
      }
    .content {
        opacity: 0;
        transform: scale(0);
        width: 0;
        h1,
        p {
            opacity: 0;
            transition: opacity 600ms ease, transform 600ms ease;
        }
        h1, h3 {
            transform: translateY(-25%);
        }
        p {
            transform: translateX(25%);
            transition-delay: 600ms;
        }

        .title-img{
            align-items: center;
            margin: 0% auto;
        }
    }
    &.hoverin {
        grid-column: 1 / span 5;
        justify-content: flex-start;
        padding-left: 2.92em;
        .content {
            font-size: .6em;
            opacity: 1;
            padding: 4em;
            transform: scale(1);
            width: 100%;
            h1,
            p {
                opacity: 1;
            }
            h1 {
                transform: translateY(0);
            }
            p {
                transform: translateX(0);
            }
        }
    }
}

@for $i from 1 through $strips {
    .strip:nth-child(#{$i}) {
        // background-color: rgb($i/138, $i/8, $i/8);
        background-color: rgb(138/$i, 9/$i, 8/$i);
        color: rgb(255/$i, 255/$i, 255/$i);
        color: rgb($i*255, $i*255, $i*255);

        &:hover {
            grid-column: #{$i} / span 4;
        }
    }
}