.art-title {
  height: auto;
  width: 100%;
  padding: 2%;
  margin: 3% auto 1% auto;
  line-height: 6rem;
  z-index: 9999;
  h1 {
    text-align: center;
    font-size: 6rem;
    color: black;
    font-family: $main;
    text-transform: uppercase;
    font-weight: 400;
  }
  .red-t {
    color: $red;
  }
  .art-dot {
    color: $yellow;
  }
}
.artHeader{
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 0 auto;
    min-height: calc(18vh - 16px);
    // background: white;
    position: relative;
    color: #000;
    padding: 2%;

  }
  
  .artHeader:before{
    content: attr(data-text);
    position: absolute;
    background: radial-gradient($red, $yellow,$red, $yellow,$red);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 100% 90%;
    line-height: 1.5;
    clip-path: ellipse(120px 120px at -2.54% -9.25%);
    animation: swing 5s infinite;
    animation-direction: alternate;
    text-shadow: 16px 22px 11px rgba(163, 163, 155, 0.5);

  }
  
  @keyframes swing{
    0%{
       -webkit-clip-path: ellipse(120px 120px at -2.54% -9.25%);
      clip-path: ellipse(120px 120px at -2.54% -9.25%)
    }
    50%{
      -webkit-clip-path: ellipse(120px 120px at 49.66% 64.36%);
      clip-path: ellipse(120px 120px at 49.66% 64.36%);
  
    }
    100%{
       -webkit-clip-path: ellipse(120px 120px at 102.62% -1.61%);
      clip-path: ellipse(120px 120px at 102.62% -1.61%);
    }
  }

.art-main {
  height: auto;
}
.gallery-preview { 
    animation: fadeIn 5s; 
    display: grid;
    width: 100%;
    position: relative;
    gap: 2%;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-columns: auto auto auto;
    grid-template-rows: minmax(200px, 1fr) minmax(100px, 1fr);
    // grid-auto-rows:auto;
    grid-auto-flow: dense;
    margin: 0% auto;
    padding: 3%;
    height: auto;
    min-width: 0px;
    min-height: 0px;
    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }


    .border {
        font-size: 1.6rem;
        display: grid;
        place-items: center;
        min-height: 200px;
        border: 5px solid;
        padding: 0.2rem;
    }

    .radial-repeating {
      box-shadow: 20px 20px rgba(0,0,0,.08);

        border-width: 10px;
        border-image: repeating-radial-gradient(
                circle at 10px,
                tan,
                rgb(102, 45, 45) 2px,
                tan 4px,
                rgb(110, 64, 11) 2px
            )
            1;
    }
    .thumbnail-wrapper {
      margin: 2% ;
    }
      
    .image-caption {
      width: 100%;
      height: auto;
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
      opacity: 0;
      transition: all 300ms ease-in-out;
      -webkit-transition: all 300ms ease-in-out;
      -moz-transition: all 300ms ease-in-out;
      -o-transition: all 300ms ease-in-out;
      -ms-transition: all 300ms ease-in-out;
      text-align: center;
      text-transform: uppercase;
      color: $offwhite;
      letter-spacing: 2px;

      .cap-head {
        font-size:1rem;
      }
      .cap-subhead {
        font-size:0.7rem;
      }
      .cap-infohead {
        font-size:0.5rem;
        font-weight: 600;
      }
}


.image-container:hover .image-caption {
  opacity: 1;
}


    div {
        // display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        color: #ffeead;
        // box-shadow: 20px 20px rgba(0,0,0,.08);
        margin: 0% auto;


        img {
            width: auto;
            height: auto;
            object-fit:cover;
        }
    }

}
.lightbox {
	/* Hidden lightbox image */
	display: none;
	position: absolute;
	z-index: 999;
	width: 100%;
	height: auto;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
  padding: 0%;
  align-content: center;
  align-items: center;
  margin: 10% auto;
  a {
    color: $yellow;
    margin: 0%;
    padding:5%;
    height: auto;
    width: auto;
    text-shadow: $red 2px 2px;
    animation-name:glow;
    animation-duration:1s;
    animation-iteration-count:infinite;
  }
  @keyframes glow{
    from{text-shadow:0px 0px 5px #fff,0px 0px 5px #614ad3;}
    to{text-shadow:0px 0px 20px #fff,0px 0px 20px #614ad3;}
  }
  img {
    margin: 0%;
    width: auto;
    height: auto;
    padding: 20%;
  }


	&:target {
		/* Show the lightbox */
		display: block;
	}
}

.close {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 3em;
	text-decoration: none;
  border-radius: 100%;
}
.artwork-grid {
    display: grid;
    position: relative;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-gap: 0%;
    padding: 0%;
    width: 100%;
    height: auto;


    .inquiry-ex {
        padding: 3%;
        margin: 1%;
        h2 {
            font-size: 3em;
            padding: 3%;
            margin: 0%;
            color: black;
            text-transform: uppercase;
            font-weight: 400;
            .redx {
              color: $red;
            }
            .ydot{
              color: $yellow;
            }
        }

       h3 {
            padding: 3% 8% 0% 4%;
            margin: 0%;
        }

        button {
            padding: auto;
            margin: 3% 8% 3% 4%;
            text-transform: uppercase;
            a {
                text-decoration: none;
                color: $red;
                font-weight: 600;
            }
            a:hover {
              color: $yellow;
              background: linear-gradient(to bottom, transparent, rgba(252, 216, 117, 0.4), transparent);
            }
        }
            .fancy {
                padding: 0.6em 2em;
                border: none;
                outline: none;
                cursor: pointer;
                position: relative;
                z-index: 0;
                border-radius: 10px;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
              }
              
              .fancy:before {
                content: "";
                background: linear-gradient(
                  45deg,
                  #8a0808, #f29602, #471414, #8a0808, #f29602
                );
                position: absolute;
                top: -2px;
                left: -2px;
                background-size: 400%;
                z-index: -1;
                filter: blur(5px);
                -webkit-filter: blur(5px);
                width: calc(100% + 4px);
                height: calc(100% + 4px);
                animation: glowing-button-85 20s linear infinite;
                transition: opacity 0.3s ease-in-out;
                border-radius: 10px;
              }
              
              @keyframes glowing-button-85 {
                0% {
                  background-position: 0 0;
                }
                50% {
                  background-position: 400% 0;
                }
                100% {
                  background-position: 0 0;
                }
              }
              
              .fancy:after {
                z-index: -1;
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: white;
                left: 0;
                top: 0;
                border-radius: 10px;
              }
        
    }
}
    
    @media screen and (max-width: 996px) {

      .art-title{
        h1{
          font-size: 3rem;
        }
      }

      .artwork-grid {
          display: list-item;
          position: relative;
          margin: 0% auto;
          padding: 2%;

          .title-spot {
            margin: 0% auto;
            .artHeader{
              font-size: 2rem;
              margin: 0% auto;
            }
          }

          .inquiry-ex {
            h2 {
              font-size: 2rem;
              font-weight: 400;
            }
            h3{
              font-size: 1rem;
            }

            button{
              margin: 3% 1%;
            }
          }

          .fancy {
            width: auto;
            padding: 0%;
            a{
              font-size: 0.8rem;
              margin: 0%;
            }
          }

          .gallery-preview {
            display: inline-block;
            position: relative;
            margin: 0% auto;
            .thumbnail-wrapper{
              margin: 0% auto 30% auto;

              .radial-repeating {
                box-shadow: 10px 10px rgba(0,0,0,.08);
              }
            }
          }
      }

     



       
    }
  