main {
    background-image: radial-gradient(#471414,#6d1515,#8a0808 );
    height: 60vh;
    margin: 0;
    padding: 0;

    // img {
    //     align-items: center;
    //     justify-content: center;
    //     display: flex;
    //     margin-left: 30%;
    //     padding: 0;
    // }
}