.main-contact {
    width: 100%;
    height: 70vh;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0%;
    margin: 0%;

    fieldset {
        border: none;
    }

    h1{
        text-transform: uppercase;
        font-size: 2.5em;
        padding: 0%;
        margin: 0%;
    }

    h4{
        font-size: 1em;
        padding: 0%;
        margin: 0%;
    }

    
}

.buttons {
    display: flex;
    justify-content: space-between;
}
.formButtonArt{
    display: flex;
    margin: 5%;
    

    
}
.formButtonArt a{
    padding: 0px 15px;
    background-color: transparent;
    border: 2px solid #8a0808;
    border-radius: 40px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    align-items: center;
    box-shadow: #471414 2px 2px;

    
}
.formButtonArt a:hover{
    background-color: #fff8f0;
}
.formButtonArt a:active{
    background-color: #f29602;
}

.formButtonWeb{
    display: flex;
    margin: 5%;

    
}
.formButtonWeb a{
    padding: 0px 15px;
    background-color: transparent;
    border: 2px solid #8a0808;
    border-radius: 40px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    align-items: center;
    box-shadow: #471414 -2px 2px;

    
}
.formButtonWeb a:hover{
    background-color: #fff8f0;
}
.formButtonWeb a:active{
    background-color: #f29602;
}


.grid {
    width: 100%;
    height: auto;
    padding: 0%;
    margin: 0% 0% 0% 0%;
}


.form-grid {
    display: grid;
    position: relative;
    // justify-content:start;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: auto;
    padding: 0%;
    margin: 0% 0% 3% 0%;
    width: 100%;
    float: right;
    z-index: 1;

    form {
        // border: 1px grey solid;
        border-bottom: solid 1px grey;
        margin: 0%;
    }

    .art-form {
        padding: 10%;
        margin: 0%;
        
        fieldset {
            border-bottom: 1px grey solid;
            border-top: none;
            border-left: none;
            border-right: none;
            margin: 0%;
        }

        #art-title {
            font-size: 2em;
            padding: 3%;
        }

        #art-btn {
            margin-top: 3%;
        }
    }
        .web-form {
            padding: 10%;
            margin: 0%;

            fieldset {
                border-bottom: 1px grey solid;
                border-top: none;
                border-left: none;
                border-right: none;
            }

            #web-title {
                font-size: 1.5em;
                padding: 5%;
            }

            #web-btn {
                margin-top: 3%;
            }
        }

    // .test {
    
    // }
    }

.reminder {
    text-align: center;
    margin: 0%;
    padding: 3% 10% 2% 10%;
}