main {
    height:auto;
    width: 100%;
    margin: 10% 0% !important;
    padding: 0;
    .banner-img {
        img {
            align-items: center;
            justify-content: center;
            display: flex;
            margin-left: 0%;
            padding: 0%;
            width: 100%;
            height: auto;
        }
    }

}

.klays-art {
    margin: 0%;
    padding: 0%;
    width: 100%;
    font-weight: 600;

    p {
        text-align: right;
        margin: 0%;
        padding: 1%;
        font-size: 0.7rem;
        color: $red;
        letter-spacing: 1px;

        a{
            color: $red;
        }
    }
}

@media screen and (max-width:415px) {
    main {
        .banner-img{
            img {
                margin: 40% auto 40% auto;
            }
        }
    }

    .klays-art {
        p {
            font-size: 0.5rem;
            a{
                color: $red;
            }
        }
    }
}