.topButton{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 20px;
    font-weight: 600;
}
.topButton a{
    padding: 0px 15px;
    background-color: transparent;
    border: 2px solid $yellow;
    border-radius: 40px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    align-items: center;

    
}
.topButton a:hover{
    background-color: $red;
}
.topButton a:active{
    background-color: $yellow;
}