.work-title {
  height: auto;
  width: 100%;
  padding: 2%;
  margin: 3% auto 5% auto;
  color: black;
  font-family: $main;
  text-transform: uppercase;
  text-align: center;
  h1 {
    font-size: 5rem;
    font-weight: 400;
  }
  .red-v {
    color: $red;
  }
  .work-dot {
    color: $yellow;
  }
}

.load-more-container {
    background: #fff;
    width: 100%;
    height: auto;
    margin: 0%;
    position: relative;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0%;
    font-weight: 600;
    letter-spacing: 2px;
    ul {
      list-style-type: none;
      padding: 5%; 
      margin: 0%;

      &:after {
        content: "";
        display: table; 
        clear: both; 
      }

      li {
        width: calc(50% - 10px);
        margin: 10px 5px 0;
        height:fit-content;
        background: transparent;
        color: black;
        float: left;
        border-radius: 2px;

        figure {
            margin: 0%;
            padding: 0%;
            height: auto;
            width: 100%;
            // img {
            //     margin: 1%;
            //     padding: 2%;
            //     align-items: center;
            //     height: auto;
            //     width: 100%;
            //     box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
            // }
             video {
              margin: 1%;
              padding: 2%;
              align-items: center;
              height: auto;
              width: 100%;
              box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
            }

            figcaption {
                text-align: left;
                padding: 5%;
                margin: 0%;
                font-size: 1em;
                height: auto;
                width: 100%;

    
                .view:hover {
                  background: linear-gradient(to left, $darkred, $yellow, $red, $yellow);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  text-transform: uppercase;
                  font-weight: 600;
                  transition: all 0.2s ease 0s;
                  box-shadow: rgba(138, 8, 8, 0.7) 0 2px 4px,rgba(138, 8, 8, 0.5) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset; 
              
                }
              
                .view {
                    background-color: white;
                    margin: 2%;
                    padding: 3%;
                    font-size: 1em;
                    font-weight: 600;
                    text-align: center;
                    align-items: center;
                    height: auto;
                    width: fit-content;
                    text-transform: uppercase;
                    background: linear-gradient(to left, $darkred, $red);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    box-shadow: -6px 8px 10px rgba(81,41,10,0.1),0px 2px 2px rgba(81,41,10,0.2);  
                    
                 
                }
               
            }
        }

        &:nth-child(1n + 5) {
          max-height: 0;
          opacity: 0;
          transition: 0.1s ease-in;
        }
      }
    }
   
  }





  
.work-info {
    display: grid;
    position: relative;
    grid-template-columns: 63% 37%;
    grid-template-rows: auto auto;
    grid-gap: 0%;
    padding: 0%;
    width: 100%;
    height: auto;
    font-weight: 600;

    .web-inquiry {
        padding: 3%;
        margin: 1%;
        letter-spacing: 2px;
    
        h2 {
          font-size: 2.5em;
          padding: 0% 3%;
          margin: 0%;
          color: black;
          text-transform: uppercase;
          .redx {
            color: $red;
          }
          .ydot{
            color: $yellow;
          }
        }
        h3, h4 {
            padding: 3% 8% 3% 4%;
            margin: 0%;

            .today {
              color: black;
              text-decoration: underline;
            }
        }

        .text-start {
            text-align: left;
            margin: 0%;
            padding: 0% 0% 0% 5%;
        }

        .text-middle {
            text-align: left;
            margin: 0%;
            padding: 0% 0% 0% 10%;

        }

        .text-end {
            text-align: left;
            margin: 0%;
            padding: 0% 0% 0% 15%;

        }

        .text-center {
            text-align: center;
            margin: 0%;
            padding: 5%;
        }

        button {
            padding: auto;
            margin: 3% 8% 3% 4%;
            text-transform: uppercase;
            a {
                text-decoration: none;
                color: $red;
                font-weight: 600;
            }
            a:hover {
              color: $yellow;
              background: linear-gradient(to bottom, transparent, rgba(252, 216, 117, 0.4), transparent);
            }

        }

        .fancy {
            padding: 0.6em 2em;
            border: none;
            outline: none;
            color: rgb(221, 201, 201);
            cursor: pointer;
            position: relative;
            z-index: 0;
            border-radius: 10px;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
          }
          
          .fancy:before {
            content: "";
            background: linear-gradient(
              45deg,
              #8a0808, #f29602, #471414, #8a0808, #f29602
            );
            position: absolute;
            top: -2px;
            left: -2px;
            background-size: 400%;
            z-index: -1;
            filter: blur(5px);
            -webkit-filter: blur(5px);
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            animation: glowing-button-85 20s linear infinite;
            transition: opacity 0.3s ease-in-out;
            border-radius: 10px;
          }
          
          @keyframes glowing-button-85 {
            0% {
              background-position: 0 0;
            }
            50% {
              background-position: 400% 0;
            }
            100% {
              background-position: 0 0;
            }
          }
          
          .fancy:after {
            z-index: -1;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: white;
            left: 0;
            top: 0;
            border-radius: 10px;
          }
    }

    .work-about {
        .skills {
            margin: 0%;
            padding: 25% 0% 0% 0%;

            h2 {
                font-size: 1.5rem;
                margin: 0%;
                padding: 1%;
                text-transform: uppercase;
            }

            h4 {
                margin: 0%;
                padding: 3% 10% 5% 10%;
                letter-spacing: 2px;

                span {
                    color: $red;
                    text-shadow: 3px 0px 7px rgba(235, 209, 124, 0.9), -3px 0px 7px rgba(235, 209, 124, 0.9), 0px 4px 7px rgba(235, 209, 124, 0.9);

                }
            }

            h5 {
                color: $red;
                text-align: right;
                text-shadow: 1px 1px $yellow;
                margin: 0%;
                padding: 3%;
                text-transform: uppercase;
            }
        }


    }

}


/* On smaller screens */
@media only screen and (max-width: 870px) {
  .work-title {
   
    h1 {
      font-size: 2rem;
      font-weight: 400;
    }
  }

    .load-more-container {
        ul {
          li {
            width: calc(100% - 10px);
            figure {
                figcaption {
                    .view {
                        font-size: 0.9em;
                        padding: 1%;
                    }
                }
            }
          }
        }
    }
    .more-work {
        padding: auto;
        margin: 3% 8% 3% 4%;
        text-transform: uppercase;
    }

    .work-info {
      display: list-item;
      position: relative;
      padding: 0%;
      width: 100%;
      height: auto;

      .web-inquiry {
          padding: 3%;
          margin: 1%;
      
          h2 {
              padding: 3% 8% 0% 4%;
              margin: 0%;
              font-size: 1.2em;
          }
          h4, h3 {
              padding: 3% 8% 3% 4%;
              margin: 0%;
              font-size: 0.8em;
          }
          button {
              padding: auto;
              margin: 0% auto;
              display: flex;
              text-transform: uppercase;
          }
      }

      .work-about {

          .skills {
              margin: 0%;
              padding: 0%;

              h2 {
                font-size: 1.2em;
                margin: 0%;
                padding: 0% 0% 0% 4%;
                text-transform: uppercase;
            }
              h4, h5 {
                  margin: 0%;
                  padding: 3% 10% 5% 10%;
                  font-size: 0.8rem;
              }
          }


      }

  }

}

@media only screen and (max-width: 480px) {


    .load-more-container {
        ul {
          li {
            width: calc(100% - 10px);
            figure {
                figcaption {
                    font-size: 0.8em;
                    .view {
                        font-size: 0.9em;
                        padding: 1%;
                    }
                }
            }
          }
        }
    }

}