/* This is the start of footer  */
footer{
    width: 100%;
    height: auto;
    border-top: black solid 1px;
    position: relative;
    padding: 0;
    margin: 0;
    // background:linear-gradient(0deg, rgba(252, 170, 252, 0.1), rgba(252, 170, 252, 0.1));
}

.site-footer{
    width: 100%;
    // height: 20vh;
    height: auto;
    background-color: white;
    // border: black solid 1px;
}

.container {
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15vh;
    grid-gap: 0%;
    position: relative;
    justify-content: center;
    margin: 0;
    width: 100%;
    list-style-type: none;

    li, a{
        list-style-type: none;
        text-decoration: none;

    }
 
}

.footerBox{
    position: relative;
    width: 100%;
    float: right;
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 3%;
}
.footerBox ul{
    list-style-type: none;
    // margin-top: 60px;
}
.footerBox a{
    text-decoration: none;
}
.footerBox ul li{
    color: #000;
    
    font-weight: bolder;
    text-transform: uppercase;
    // margin: 20px 20px;
}
.footerBox ul li:hover{
    color: #8a0808;
}
.footerBox ul li:active{
    color:#f29602;
}

.socialMedia i{
    color: #000;
}
.socialMedia i:hover{
    color: #8a0808;
}
.socialMedia i:active{
    color: #f29602;
}

.footer-menu3,.footer-menu2 {
    a{
        color: black;

    }
}