/* This is the start of footer  */
footer{
    width: 100%;
    height: 15vh;
    border: black solid 1px;
    position: relative;
    background:linear-gradient(0deg, rgba(252, 170, 252, 0.1), rgba(252, 170, 252, 0.1));
}